---

- name: Create User prometheus
  user:
    name: prometheus
    create_home: no
    shell: /bin/false

- name: Create directories for prometheus
  file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
  loop:
    - '/tmp/prometheus'
    - '/etc/prometheus'
    - '/var/lib/prometheus'

- name: Download And Unzipped Prometheus
  unarchive:
    src: https://github.com/prometheus/prometheus/releases/download/v2.47.2/prometheus-2.47.2.linux-amd64.tar.gz
    dest: /tmp/prometheus
    creates: /tmp/prometheus/prometheus-2.47.2.linux-amd64
    remote_src: yes

- name: Copy Bin Files From Unzipped Prometheus to /usr/local/bin/
  copy:
    src: "/tmp/prometheus/prometheus-2.47.2.linux-amd64/{{ item }}"
    dest: /usr/local/bin/
    remote_src: yes
    owner: prometheus
    group: prometheus
    mode: '0755'
  loop:
    - prometheus
    - promtool
  become: yes

- name: Copy Conf Files From Unzipped to Prometheus
  copy:
    src: "/tmp/prometheus/prometheus-2.47.2.linux-amd64/{{ item }}"
    dest: "/etc/prometheus/"
    remote_src: yes
    mode: preserve
    owner: prometheus
    group: prometheus
  loop: 
    - 'console_libraries'
    - 'consoles'
    - 'prometheus.yml'

- name: Create File for Prometheus Systemd
  template:
    src=templates/prometheus.service
    dest=/etc/systemd/system/
  notify:
    - systemd reload

- name: Systemctl Prometheus Start
  systemd:
    name: prometheus
    state: started
    enabled: yes
